<app-header></app-header>
<app-navbar></app-navbar>
<div id="content" class="row p-2">
    <div class="col">
        <h3>Add new Editor</h3>
        <div *ngIf="result.success==true" class="alert alert-success">
          {{result.message}}
        </div>
        <form [formGroup]="addEditorForm" (ngSubmit)="addEditor()">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Editor name</label>
              <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div *ngIf="addEditorForm.get('name')?.invalid && addEditorForm.get('name')?.touched">
                <div *ngIf="addEditorForm.get('name')?.hasError('required')" class="alert  alert-danger" role="alert">
                  name is required
                </div>
                <div *ngIf="addEditorForm.get('name')?.hasError('minlength')"  class="alert  alert-danger" role="alert">
                  the length of field name at least 3 char
                </div>
              </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Editor salary</label>
                <input formControlName="salary" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div *ngIf="addEditorForm.get('salary')?.invalid && addEditorForm.get('salary')?.touched">
                  <div *ngIf="addEditorForm.get('salary')?.hasError('required')" class="alert  alert-danger" role="alert">
                    salary is required
                  </div>
                </div> 
              </div>
            <button [disabled]="addEditorForm.invalid" type="submit" class="btn btn-dark">Add Editor</button>
          </form>
    </div>
</div>
<app-footer></app-footer>
